flow5.json
[{"id":"70e21ee8.9c98d","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"ed6785be.2ae788","type":"http in","z":"70e21ee8.9c98d","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":180,"wires":[["792af401.4ed58c","7780f4fd.d78a0c"]]},{"id":"792af401.4ed58c","type":"function","z":"70e21ee8.9c98d","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["812a5f07.4e962"]]},{"id":"812a5f07.4e962","type":"rpi-gpio out","z":"70e21ee8.9c98d","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":460,"y":340,"wires":[]},{"id":"7780f4fd.d78a0c","type":"function","z":"70e21ee8.9c98d","name":"Return Status","func":"msg.payload =\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["70d52d1c.726484","bdf6fd73.e229a"]]},{"id":"70d52d1c.726484","type":"http response","z":"70e21ee8.9c98d","name":"","statusCode":"","headers":{},"x":690,"y":260,"wires":[]},{"id":"bdf6fd73.e229a","type":"debug","z":"70e21ee8.9c98d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":460,"wires":[]},{"id":"11962f0a.e0cbe1","type":"http in","z":"70e21ee8.9c98d","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":500,"wires":[["a5573fdf.59f36","e57773d1.2ce55"]]},{"id":"a5573fdf.59f36","type":"function","z":"70e21ee8.9c98d","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["812a5f07.4e962"]]},{"id":"e57773d1.2ce55","type":"function","z":"70e21ee8.9c98d","name":"Return Status","func":"msg.payload =\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":560,"wires":[["bdf6fd73.e229a","70d52d1c.726484"]]}]
