flow4.json
[{"id":"1c9742bc.10da1d","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"abdc6b1.02aa298","type":"http in","z":"1c9742bc.10da1d","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["15b9e818.346fd8"]]},{"id":"76e2f020.d1a15","type":"http response","z":"1c9742bc.10da1d","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]},{"id":"66ca2126.f1325","type":"debug","z":"1c9742bc.10da1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"45e1904c.9cd7c","type":"rpi-gpio in","z":"1c9742bc.10da1d","name":"GPIO4","pin":"7","intype":"down","debounce":"25","read":true,"x":90,"y":500,"wires":[["f99b7573.e21b98"]]},{"id":"f99b7573.e21b98","type":"function","z":"1c9742bc.10da1d","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["66ca2126.f1325"]]},{"id":"15b9e818.346fd8","type":"function","z":"1c9742bc.10da1d","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["66ca2126.f1325","76e2f020.d1a15"]]}]
